.return{
    width: 80px;
    background-color: brown;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.Usage{
    position: relative;
    .wrapper{
        margin: 0 300px;
    }
    .Option_1{
        // display: none;
        .formText{
            h3{
                margin-top: 30px;
                margin-bottom: 20px;
                text-align: center;
            }
            input{
                border-radius: 5px;
                border: 1px solid #333;
                width: 100%;
                padding: 8px 0 8px 12px;
                outline: none;
            }
            .btn_classify{
                width: 100px;
                background-color: rgb(74, 74, 74);
                color: white;
                padding: 6px;
                font-size: 18px;
                border-radius: 6px;
                margin: 0 auto;
                margin-top: 20px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background-color: #333;
                }
            }
        }
    }
    .Option_2{
        margin-top: 50px;
        .formText{
            h3{
                margin-top: 30px;
                margin-bottom: 20px;
                text-align: center;
            }
            .custom-file{
                display: flex;
                justify-content: center;
                .custom-file-input{
                    border: 1px solid black;
                    border-radius: 4px;
                    padding: 5px;
                    width: 350px;
                }
                .custom-file-label{
                    border: 1px solid black;
                    border-radius: 4px;
                    padding: 3px;
                    margin-left: 2px;
                    width: 120px;
                    text-align: center;
                    padding-top: 8px;
                    cursor: pointer;
                    color: white;
                    background-color: rgb(104, 104, 104);
                }
            }
        }
    }

}


@media only screen and (max-width: 1280px) {
    .Usage{
        .wrapper{
            margin: 0 200px;
        }
    }
}

@media only screen and (max-width: 920px) {
    .Usage{
        .wrapper{
            margin: 0 100px;
        }
    }
}

@media only screen and (max-width: 680px) {
    .Usage{
        .wrapper{
            margin: 0 10px;
        }
    }
}

@media only screen and (max-width: 495px) {
    .Usage{
        margin-top: 50px;
        .wrapper{
            margin: 0 10px;
        }
        .Option_2{
            margin-top: 80px;
            .formText{
                .custom-file{
                    flex-direction: column;
                    .custom-file-input{
                        width: 100%;
                    }
                    .custom-file-label{
                        margin: 0 auto;
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}