.popup {
    position: absolute;
    background-color: blue;

}

.close {
    float: right;
    background-color: #333;
    color: white;
    width: 22px;
    height: 22px;
    text-align: center;
    align-items: center;
    position: relative;
    line-height: 22px;
    cursor: pointer;
}


@media only screen and (max-width: 820px) {
    .popup-content {
        width: 80% !important;
    }
}

@media only screen and (max-width: 480px) {
    .popup-content {
        width: 90% !important;
    }
}